https://test-files.pythonhosted.org/packages/8e/f8/5df5ce9221ac13cfa8c1d25dda47cd3dbbb6e5f9085ed7190e8877a359b6/example_pkg_iamapythongeek-1.0.0-py3-none-any.whl
opencv-python~=4.5.1.48
Pillow~=8.1.0
fastapi~=0.63.0
easyocr~=1.2.2
EasyNMT~=1.0.2
starlette~=0.13.6
pydantic~=1.7.3
pymongo~=3.11.2
pillow>=9.2.0
